body {
  position: relative;
  color: #000;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
}

* {
    padding: 0;
    margin: 0
}

*,:after,:before {
    box-sizing: border-box
}

*,:focus {
    outline: 0
}

img {
    max-width: 100%;
    vertical-align: bottom
}

a {
    /* color: #272b3f; */
    text-decoration: none;
    display: inline-block
}

a:focus,a:hover {
    text-decoration: none
}

ul {
    list-style-type: none
}

h1,h2,h3,h4,h5,h6,p,ul {
    margin-bottom: 0
}

.container {
    margin: 0 auto;
    position: relative
}

@media only screen and (max-width: 992px) {
    .container {
        padding:0 12px
    }
}

@media(min-width: 992px) {
    .container {
        width:970px
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width:1200px
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 20px
}

::-webkit-scrollbar-button {
    display: none
}

::-webkit-scrollbar-track {
    background-color: #ccc
}

::-webkit-scrollbar-track-piece {
    background-color: #ccc
}

::-webkit-scrollbar-thumb {
    background-color: #2f1dac
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2f1dac
}

::-webkit-scrollbar-corner {
    display: none
}

::-webkit-resizer {
    display: none
}

.list-inline {
    padding: 0;
    font-size: 0;
    list-style-type: none
}

.list-inline>li {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 16px
}

.text-right {
    text-align: right
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

/*--------------our css-----------*/
.mainParent, .headerPart {
    position: relative;
    width: 100%;
    font-size: 0px;
}
.headerPart {
    background-color: #131921;
    color: #fff;
}
.headerPart>li {
    display: inline-block;
    align-items: center;
    vertical-align: middle;
}
.amazonLogo {
    width: 100%;
    min-width: 50px;
    max-width: 150px;
}
.addressDetails>span:nth-child(1) {
    font-size: 12px;
    display: block;
    color: #dadada;
}
.addressDetails>span:nth-child(2) {
    font-size: 13px;
    color: #fff;
    font-weight: 600;
}
.inputBoxSearchIcon {
    font-size: 12px;
    color: #000;
    text-align: center;
    width: 30px;
    display: block;
}
.inputBoxSearch {
    background-color: #febd69;
    height: 30px;
    border: 1px solid #131921;
    border-radius: 4px;
    position: relative;
    width: 100%;
    font-size: 0px;
}
.inputBoxSearch>li {
    display: inline-block;
    height: 100%;
}
.inputBoxSearch>li>select {
    height: 100%;
    border: 0;
    border-right: 1px solid #000;
    background-color: #e6e6e6;
}
.inputBoxSearch>li>input {
    height: 100%;
    border: 0;
}
